{% extends 'base.html.twig' %}

{% block title %}Create Event{% endblock %}

{% block body %}
    <h1>Create Event</h1>

    {{ form_start(f) }}
        {{ form_widget(f) }}
        <button class="btn">Create</button>
    {{ form_end(f) }}

<a href="{{ path('app_event') }}">Retour</a>
{% endblock %}
