{% extends 'base.html.twig' %}

{% block title %}Update Event{% endblock %}

{% block body %}
    <h1>Update Event</h1>

    {{ form_start(f) }}
        {{ form_widget(f) }}
        <button type="submit" class="btn btn-primary">Update</button>
    {{ form_end(f) }}

{% endblock %}
