{% extends 'base.html.twig' %}
 {% block items %}
        {% for artwork in artworks %}
          <div class="item">
                    <div class="collection-one__single">
                        <img src="http://localhost/img/{{artwork.url}}" alt="">
                        <div class="collection-one__content">
                            <h3><a href="{{ path('app_artwork_show', {'id': artwork.id}) }}">{{ artwork.title }}</a></h3>
                        </div><!-- /.collection-one__content -->
                    </div><!-- /.collection-one__single -->
                </div>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

      {% endblock %}

