{% extends 'base.html.twig' %}

{% block body %}
    {% block title %}<h1>Edit the type of complaint</h1>{% endblock %}
    {{ form_start(form) }}
    {{ form_row(form.typereclamation) }}
    {{ form_end(form) }}
{% endblock %}