{% extends 'base.html.twig' %}

{% block title %}Donater index{% endblock %}

{% block body %}
    <h1>Donater index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for donater in donaters %}
            <tr>
                <td>{{ donater.idDonation.title }}</td>
                <td>{{ donater.amount }}</td>
                <td>
                    <a href="{{ path('app_donater_conntroller_show', {'id': donater.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
