{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% if categorie.id is null %}Ajouter une catégorie{% else %}Modifier la catégorie {{ categorie.nomcategorie }}{% endif %}</h1>

    {{ form_start(f) }}
        {{ form_row(f.nomcategorie, {'attr': {'class': 'form-control'}}) }}
        <button type="submit" class="btn btn-primary">{% if categorie.id is null %}Ajouter{% else %}Modifier{% endif %}</button>
    {{ form_end(f) }}
{% endblock %}
