{% extends 'dashboard-base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h2>Create new Categorie</h2>

    {{ include('categorie/_form.html.twig') }}

   
{% endblock %}
